img{
    display: block;
    margin: 0 auto;
    padding-bottom: 30px;
}
.center {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    margin-top: 10%;
}

input{
    width: 30%;
    margin: 0 auto;
    display: block;
}

.searchButton{
    width: 10%;
}

li {
    display: inline;
}

nav li {
    list-style: none;
    display: inline;
    padding-right: 10px;
    font-size: 13px;
}

li a:visited{
    color: blue;
}

li a{
    text-decoration: none;
}

nav ol {
    padding-left: 10px;
}



ul{
    padding-left: 0;
    text-align: center;
}

.searchButtons {
    text-align: center;
    margin-top: 20px;
}

input.searchButton{
    display: inline-block;
    margin: 0 auto;
}

.rightnav{
    float: right;
}